input{
	margin-top: 30px;
	margin-left: 130px;
}
img{
	width: 100px;
	height: 100px;
}
.media-object{
	width: 50px;
	height: 50px;
	display: inline-block;
}
.List{
	margin-top: 30px;
}
.sub-container{
	margin-top: 50px;
	padding: 5px;
}
#container{
	margin: 0 auto;
	width: 500px;
	box-shadow: 2px 2px 2px black;
	border-radius: 5px;
	background-color: steelblue;	
}
#title{
	font-size: 25px;
	display: block;
	text-align: center;
}
#username{
	margin-left: 10px;
}
#titleimg{
	margin-left: 200px;
}
@media only screen and (max-width: 500px) {
    #container {
        width: 300px;
    }
    #titleimg{
    	margin-left: 100px;
    }
    input{
    	margin-left: 30px;
    }
}